.DS_Store
*.aux
*.log
*.fls
*.dvi
*.toc
*.omc
.omakedb*
*.ps
*.pdf
*.synctex.gz
*.fdb_latexmk
*.out
*.cls
*.clo
articles/*/word.cls
articles/*/word-lua.cls
articles/*/word.clo
articles/*/configure
articles/*/config.status
articles/*/autom4te.cache
articles/markdown_hinagata/body.tex
